:root{
    --dark-green:#009688;
    --bg-grey: #D9DBD4;
    --grey: #B1B1B1;
    --light-grey: #EAEAEA;
}

.background_webApp{
    background-image: url(./img/bg.png);
    height: 100vh;
}

.boolzap_window{
    background-color: white;
    width: 900px;
    height: 600px;
}

.my_profile{
    height: 40px;
    width: 100%;
    background-color: var(--light-grey);
}

.left_column{
    width: 40%;
    height: 100%;
    background-color: aqua;
}

.right_column{
    width: 60%;
    height: 100%;
    background-color: rgb(67, 146, 146);
}

.my_avatar_container{
    width: 32px;
    height: 32px;
}

.my_avatar{
    width: 100%;
    border-radius: 50%;
}

.general_icons{
    width: 15%;
}

.general_icons i{
    color: var(--grey);
}