:root{
    --dark-green:#009688;
    --bg-grey: #D9DBD4;
    --grey: #B1B1B1;
    --light-grey: #EAEAEA;
    --dark-grey: #7d7d7d;
    --lightblue: #8EDAFC;
}

.background_webApp{
    background-image: url(./img/bg.png);
    height: 100vh;
}

.boolzap_window{
    background-color: white;
    width: 900px;
    height: 600px;
}

.my_profile{
    height: 40px;
    width: 100%;
    background-color: var(--light-grey);
}

.left_column{
    width: 40%;
    height: 100%;
    background-color: aqua;
}

.right_column{
    width: 60%;
    height: 100%;
    background-color: rgb(67, 146, 146);
}

.my_avatar_container{
    width: 32px;
    height: 32px;
}

.my_avatar{
    width: 100%;
    border-radius: 50%;
}

.general_icons{
    width: 20%;
}

.general_icons i{
    color: var(--grey);
}

.new_message_banner{
    background-color: var(--lightblue);
    height: 56px;
}

.bell_icon{
    background-color: white;
    width: 32px;
    border-radius: 50%;
}

.bell_icon i{
    color: var(--lightblue);
}

.new_message_txt_semibold{
    font-size: 12px;
}

.new_message_txt_underline{
    text-decoration: underline;
    color: var(--dark-grey);
    font-size: 12px;
}

.search_chat{
    background-color: var(--grey);
}