:root{
    --dark-green:#009688;
    --light-green: #D5F9BA;
    --bg-grey: #D9DBD4;
    --grey: #B1B1B1;
    --light-grey: #EAEAEA;
    --dark-grey: #7d7d7d;
    --lightblue: #8EDAFC;
    --white: #ffffff;
}

.background_webApp{
    background-image: url(./img/bg.png);
    height: 100vh;
}

.active{
    background-color: var(--light-grey);
}

.boolzap_window{
    background-color: white;
    width: 900px;
    height: 600px;
}

.my_profile{
    height: 48px;
    width: 100%;
    background-color: var(--light-grey);
    border-right: 0.5px solid var(--bg-grey);
}

.left_column{
    width: 40%;
    height: 100%;
}

.right_column{
    width: 60%;
    height: 100%;
}

.my_avatar_container{
    width: 32px;
    height: 32px;
}

.my_avatar{
    width: 100%;
    border-radius: 50%;
}

.general_icons{
    width: 20%;
}

.general_icons i{
    color: var(--grey);
}

.new_message_banner{
    background-color: var(--lightblue);
    height: 56px;
}

.bell_icon{
    background-color: white;
    width: 32px;
    border-radius: 50%;
}

.bell_icon i{
    color: var(--lightblue);
}

.new_message_txt_semibold{
    font-size: 12px;
}

.new_message_txt_underline{
    text-decoration: underline;
    color: var(--dark-grey);
    font-size: 12px;
}

.search_chat{
    background-color: white;
    height: 50px;
}

.input_search{
    width: 100%;
    height: 32px;
}

.user_section{
    height: 55.8px;
}

.user_image_container{
    width: 32px;
    height: 32px;
}

.user_image{
    width: 100%;
    border-radius: 50%;
}

.user_name{
    font-size: 14px;
}

.hour_message{
    font-size: 10px;
    color: var(--grey);
}

.last_message_sent{
    font-size: 10px;
    color: var(--grey);
}

/* right column */

.messages_section{
    background-image: url(./img/mine.jpg);
    height: 100vh;
}

.input_chat{
    height: 48px;
    width: 100%;
    background-color: var(--light-grey);
}

.emoji_container{
    width: 40px;
}

.mic_container{
    width: 40px; 
}

.input_message{
    font-size: 12px;
    color: var(--grey);
}

.input_chat i{
    color: var(--dark-grey);
}

/* messages */
.my_message,
.user_message{
    max-width: 200px;
    font-size: 14px;
}

.my_message{
    background-color: var(--light-green);
    align-self: flex-end;
}
.user_message{
    background-color: var(--white);
    align-self: flex-start;
}

.my_message_new{
    background-color: var(--light-green);
    align-self: flex-end;
}

/* Transition */

.user_section:hover{
    background-color: var(--light-grey);
}